<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "nav_bar.html"%}
    <div class="text-center-fluid">
    <img src="/static/contact.avif" class="d-block mx-auto my-4" alt="Contact Jaychandra" style="height: 400px;width:1300px">
</div>
<div class="container text-center">
    <h2 class="text-center">Contact Me</h2>
    <!-- Messages -->
{% if messages %}
  {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} text-center">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
    <form method="post" action="/contact/">
      {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your E-mail">
  </div>
  <div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your phone number">
  </div>
  <div class="form-group">
    <label for="desc">Tell me:: For what you want to contact me for</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="desc"></textarea>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>
{% include "fotter.html"%}
</body>
</html>